@import "vendor/bootstrap/less/bootstrap.less";
@import "vendor/font-awesome/less/font-awesome.less";


/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@indentation: 20px;
@border-indent: 8px;

@media (max-width: @screen-sm-max) {
  .level-0 {
    border-left: solid .5*@border-indent transparent;
  }
  .level-1 {
    border-left: solid 1*@border-indent transparent;
  }
  .level-2 {
    border-left: solid 2*@border-indent transparent;
  }
  .level-3 {
    border-left: solid 3*@border-indent transparent;
  }
  .level-4 {
    border-left: solid 4*@border-indent transparent;
  }
  .level-5 {
    border-left: solid 5*@border-indent transparent;
  }
  .level-6 {
    border-left: solid 6*@border-indent transparent;
  }
  .level-7 {
    border-left: solid 7*@border-indent transparent;
  }
  .level-8 {
    border-left: solid 8*@border-indent transparent;
  }
  .level-9 {
    border-left: solid 9*@border-indent transparent;
  }
  .level-10 {
    border-left: solid 9*@border-indent transparent;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) {
  .level-1 {
    margin-left: 1*@indentation;
  }
  .level-2 {
    margin-left: 2*@indentation;
  }
  .level-3 {
    margin-left: 3*@indentation;
  }
  .level-4 {
    margin-left: 4*@indentation;
  }
  .level-5 {
    margin-left: 5*@indentation;
  }
  .level-6 {
    margin-left: 6*@indentation;
  }
  .level-7 {
    margin-left: 7*@indentation;
  }
  .level-8 {
    margin-left: 8*@indentation;
  }
  .level-9 {
    margin-left: 9*@indentation;
  }
  .level-10 {
    margin-left: 9*@indentation;
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) {
  .level-1 {
    margin-left: 2*@indentation;
  }
  .level-2 {
    margin-left: 4*@indentation;
  }
  .level-3 {
    margin-left: 6*@indentation;
  }
  .level-4 {
    margin-left: 8*@indentation;
  }
  .level-5 {
    margin-left: 10*@indentation;
  }
  .level-6 {
    margin-left: 12*@indentation;
  }
  .level-7 {
    margin-left: 14*@indentation;
  }
  .level-8 {
    margin-left: 16*@indentation;
  }
  .level-9 {
    margin-left: 18*@indentation;
  }
  .level-10 {
    margin-left: 20*@indentation;
  }
}


.icons > span {
  display: inline-block;
  width: 1em;
}

span.icons {
  display: inline-block;
  width: 10em;
}

.inline {
  display: inline;
}

.table-nonfluid {
  width: auto;
}

div.feature-sets {
  margin-top: 5em;
  margin-bottom: 2em;
}

#gherkin-ui {
  margin: 1em;
}