@import "vendor/bootstrap/less/bootstrap.less";
@import "vendor/font-awesome/less/font-awesome.less";


/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@indent-sm: 10px;
@indent-md: 20px;
@indent-lg: 25px;
@border-indent: 8px;

@media (max-width: @screen-sm-max) {
  .level-0 {
    margin-left: .25*@indent-sm;
  }
  .level-1 {
    margin-left: 1*@indent-sm;
  }
  .level-2 {
    margin-left: 2*@indent-sm;
  }
  .level-3 {
    margin-left: 3*@indent-sm;
  }
  .level-4 {
    margin-left: 4*@indent-sm;
  }
  .level-5 {
    margin-left: 5*@indent-sm;
  }
  .level-6 {
    margin-left: 6*@indent-sm;
  }
  .level-7 {
    margin-left: 7*@indent-sm;
  }
  .level-8 {
    margin-left: 8*@indent-sm;
  }
  .level-9 {
    margin-left: 9*@indent-sm;
  }
  .level-10 {
    margin-left: 9*@indent-sm;
  }
  .item-actions {
    width: 4em;
  }
  #gherkin-ui {
    margin: .5em;
  }
  div.title-line {
    margin: .25em 1em;
  }
  table.title-line {
    width: 100%;
  }
  td.count-table {
    width: 50px;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) {
  .level-0 {
    margin-left: .25*@indent-md;
  }
  .level-1 {
    margin-left: 1*@indent-md;
  }
  .level-2 {
    margin-left: 2*@indent-md;
  }
  .level-3 {
    margin-left: 3*@indent-md;
  }
  .level-4 {
    margin-left: 4*@indent-md;
  }
  .level-5 {
    margin-left: 5*@indent-md;
  }
  .level-6 {
    margin-left: 6*@indent-md;
  }
  .level-7 {
    margin-left: 7*@indent-md;
  }
  .level-8 {
    margin-left: 8*@indent-md;
  }
  .level-9 {
    margin-left: 9*@indent-md;
  }
  .level-10 {
    margin-left: 9*@indent-md;
  }
  .item-actions {
    width: 8em;
  }
  #gherkin-ui {
    margin: 1em;
  }
  div.title-line {
    margin: .25em 2em;
  }
  table.title-line {
    width: 100%;
  }
  td.count-table {
    width: 100px;
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) {
  .level-0 {
    margin-left: .25*@indent-lg;
  }
  .level-1 {
    margin-left: 1*@indent-lg;
  }
  .level-2 {
    margin-left: 2*@indent-lg;
  }
  .level-3 {
    margin-left: 3*@indent-lg;
  }
  .level-4 {
    margin-left: 4*@indent-lg;
  }
  .level-5 {
    margin-left: 5*@indent-lg;
  }
  .level-6 {
    margin-left: 6*@indent-lg;
  }
  .level-7 {
    margin-left: 7*@indent-lg;
  }
  .level-8 {
    margin-left: 8*@indent-lg;
  }
  .level-9 {
    margin-left: 9*@indent-lg;
  }
  .level-10 {
    margin-left: 9*@indent-lg;
  }
  #gherkin-ui {
    margin: 1em;
  }
  div.title-line {
    margin: .25em 2em;
  }
  table.title-line {
    width: 100%;
  }
  td.count-table {
    width: 150px;
  }
}


.inline {
  display: inline;
}

.table-nonfluid {
  width: auto;
}

div.feature-sets {
  margin-top: 5em;
  margin-bottom: 2em;
}

.count-table {
  height: 1em;
}